// =====================================================================================
// ======================================= CUSTOM ======================================
// =====================================================================================

.text-align{
    text-align: center;
}

.bg-red{
    background: #f76c6c;
    color: #fff;
}

.custom-padding{
    padding: 0.25em 0;
}

.custom-margin{
    margin: 2em 0 4em 0;
}